@inject IAstrologieServiceHttp AstrologieServiceHttp
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@*@using System.Drawing*@
@using System.IO
@using Services.Http
@using Struct.ImportJson
@using StephaneHomePage.Data.Astrologie.ThemeAstral.Draw
@using StephaneHomePage.Data.Type
@using StephaneHomePage.Data.Astrologie.ThemeAstral
@using StephaneHomePage.Struct.Astrologie
@using Blazor.Extensions.Canvas.Canvas2D
@using Blazor.Extensions.Canvas
@using System.Text.RegularExpressions;

@if (_swOk)
{
    <center>
        <div class="svg-base" style="height: @_sizeThemeAstralpx; width:@_sizeThemeAstralpx; background-image: url('data:image/svg+xml;base64,@_imageSVG');"></div>
        <div class="svg-base" style="height: @_sizeThemeAstralpx; width:@_sizeThemeAstralpx; background-image: url('data:image/svg+xml;utf8,@_imageSVGManual');"></div>
    </center>
    <h2>Imagemagick</h2><br />
    <div class="svg-console">@System.Text.ASCIIEncoding.ASCII.GetString(System.Convert.FromBase64String(_imageSVG)))</div>
    <h2>Svg</h2><br />
    <div class="svg-console">@_imageSVGManualConsole</div>
}


@code {
    [Parameter] public ImportJson Json { get; set; }
    [Parameter] public double MaxWidth { get; set; }
    [Parameter] public double MaxHeight { get; set; }

    private bool _swOk = false;
    private ComputeThemeAstral _computeThemeAstral;
    private String _imageSVG;
    private String _imageSVGManual;
    private String _imageSVGManualConsole;
    private String _sizeThemeAstralpx;

    protected override void OnInitialized()
    {
        if (Json != null)
            GeneratePicture();
    }

    protected override void OnParametersSet()
    {
        if (Json != null)
            GeneratePicture();
    }

    private void GeneratePicture()
    {
        _computeThemeAstral = new ComputeThemeAstral(Json, MaxWidth, MaxHeight);
        _sizeThemeAstralpx = _computeThemeAstral.CalcDraw.getSizeWH().ToString() + "px";
        DrawImage drawImage = new DrawImage(_computeThemeAstral);
        _imageSVG = drawImage.GetSvg();
        _imageSVGManual = drawImage.GetSvgImage(false);
        _imageSVGManualConsole = drawImage.GetSvgImage(true);
        _swOk = true;
    }
}