################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/StephaneHomePage
/StephaneHomePage/bin/Debug/netcoreapp3.0
/StephaneHomePage/obj/Container
/StephaneHomePage/obj
/StephaneHomePage/password.json
/StephaneHomePage/assets