@page "/astrologie-print/{YearMonthDay}/{HourMin}/{Lat}/{Lng}/"
@layout PrintLayout
@using Struct.Astrologie
<h3>Thème astral</h3>

@if (swLoaded)
{
    <ThemeAstral Json="data" MaxWidth="@(375 * 2)" MaxHeight="@(375 * 2)" LockBook="false" Struct="StructThemeAstral.Img" />
}

