@page "/astrologie-print/{YearMonthDay}/{HourMin}/{Lat}/{Lng}/"
@layout PrintLayout
@using Struct.Astrologie

@if (swLoaded)
{
    <h3>Thème astral</h3>
    <ThemeAstral Json="data" MaxWidth="@(375 * 2)" MaxHeight="@(375 * 2)" LockBook="false" Struct="StructThemeAstral.Img" />
} else
{
    <h3>Chargement...</h3>
}

