@page "/astrologie"
@inject IAstrologieServiceHttp AstrologieServiceHttp
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Drawing
@using System.IO
@using Services.Http
@using System.Net
@using Newtonsoft.Json
@using Struct.ImportJson

<h3>Astrologie</h3>
<center><img src="data:image/png;base64, @Convert.ToBase64String(byteArray)" /></center>

@code {
    Bitmap bitmap;
    byte[] byteArray;
    ImportJson data;
    protected override async Task OnInitializedAsync()
    {
        await LoadDatas();
        bitmap = new Bitmap(500, 500);
        Graphics graphics = Graphics.FromImage(bitmap);
        graphics.Clear(Color.Black);
        Pen pen = new Pen(Color.White, 2);
        graphics.DrawRectangle(pen, 50, 50, 250, 200);
        MemoryStream memoryStream = new MemoryStream();
        bitmap.Save(memoryStream, System.Drawing.Imaging.ImageFormat.Png);
        byteArray = memoryStream.ToArray();
    }

    private async Task LoadDatas()
    {
        var response = await AstrologieServiceHttp.GetThemeAstral();
        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                data = JsonConvert.DeserializeObject<ImportJson>(content);
                break;
            default:
                // await JsAlertifyService.Open("Erreur lors du chargement des instruments", TypeAlertify.Error);
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
