@page "/astrologie"
@inject IAstrologieServiceHttp AstrologieServiceHttp
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using Services.Http
@using System.Net
@using Newtonsoft.Json
@using Struct.ImportJson

<h3>Astrologie</h3>

@if (swLoaded)
{
    <ThemeAstral Json="data" MaxWidth="375" MaxHeight="375" />
}

@code {
    ImportJson data;
    bool swLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        await LoadDatas();
    }

    private async Task LoadDatas()
    {
        var response = await AstrologieServiceHttp.GetThemeAstral();
        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                data = JsonConvert.DeserializeObject<ImportJson>(content);
                swLoaded = true;
                break;
            default:
                // await JsAlertifyService.Open("Erreur lors du chargement des instruments", TypeAlertify.Error);
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
