@page "/git"
<h2>Bible de git</h2>
<br />
<h3>Branches</h3>
<p>Créer une branche et y basculer directement :</p>
<p class="code">git checkout -b nom_nouvelle_branche</p>
<p>Supprimer une branche</p>
<p class="code">git branch -d branche_à_supprimer</p>
<p></p>
<p>Créer une nouvelle branche</p>
<p class="code">git branch nom_nouvelle_branche [A]</p>
<p>Facultatif : préciser le commit [A] sur lequel pointe la branche.</p>
<br />
<h3>Setup</h3>
<p class="code">git remote add origin git@github.com:User/UserRepo.git</p>
<p class="code">git config --global user.email "s.bressani@bluewin.ch"</p>
<p class="code">git config --global user.name "stephaneworkspace"</p>
<br />
<h3>Commandes pratiques</h3>
<p>Add all</p>
<p class="code">git add .</p>
<p>Push sur une branche (origin déclaré, voir setup)</p>
<p class="code">git push --set-upstream origin nom_branche</p>
<br />
Conventions de nomage:<br />
https://github.com/betagouv/pix/wiki/Conventions-de-nommage


