@page "/git"
<h2>Commandes de git</h2>
<br />
@*https://www.le-fab-lab.com/git-les-branches.html*@
<h3>Setup</h3>
<p class="code">git remote add origin git@github.com:User/UserRepo.git</p>
<p class="code">git config --global user.email "e-mail"</p>
<p class="code">git config --global user.name "User"</p>
<br />
<h3>Branches</h3>
<p>Créer une branche et y basculer directement :</p>
<p class="code">git checkout -b nom_nouvelle_branche</p>
<p>Changer de branche</p>
<p class="code">git checkout nom_branche</p>
<p>Pull de la branche</p>
<p class="code">git pull origin nom_branche</p>
<p></p>
<p>Supprimer une branche</p>
<p class="code">git branch -d branche_à_supprimer</p>
<p>Supprimer remote</p>
<p class="code">git push origin --delete branche_à_supprimer</p>
<p>Forcer supprimer une branche</p>
<p class="code">git branch -D branche_à_supprimer</p>

<p></p>
<p>Créer une nouvelle branche</p>
<p class="code">git branch nom_nouvelle_branche [A]</p>
<p>Facultatif : préciser le commit [A] sur lequel pointe la branche.</p>
<br />
<h3>Commandes pratiques</h3>
<p>Add all</p>
<p class="code">
    git add .
    <br />git commit -m "Message"
</p>
<p>Push sur une branche (origin déclaré, voir setup)</p>
<p class="code">
    git push --set-upstream origin nom_branche
    <br />Ou push normal git push
</p>
<br />
<p>
    Conventions de nomage des branches pour travail en équipe:
    <NavLink class="nav-link" style="padding: 0!important;" target="_blank" href="https://github.com/betagouv/pix/wiki/Conventions-de-nommage">
        <span class="oi oi-code" aria-hidden="true"></span> Url
    </NavLink>
</p>
<br />

