@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@using System.IO;
@page "/"
<AppBar Title="Page d'accueil" />
<MatAppBarContent>
    <h1>Stéphane Bressani</h1>
    <h2>Programmeur full stack et instructeur udemy</h2>
</MatAppBarContent>
@*<!--
    Welcome to your new app. @password
    -->*@
@code {
        @*String password = "?";*@
    protected override void OnInitialized()
    {
        var config = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile("password.json").Build();


        // password = config.GetSection("password").Value;

    }
}
