@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@using System.IO;
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app. @password

@code {
    String password = "?";
    protected override async Task OnInitializedAsync()
    {
        var config = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile("password.json").Build();


        // password = config.GetSection("password").Value;

        // var data = await Http.GetStringAsync("http://www.stephane-bressani.ch:8000/hello/");
        // password = data;
    }
}
