@inject HttpClient Http
@inject AppStateServiceCore AppStateServiceCore
@using Services.Core
@page "/"
<center><div style="width: 817px; height: 522px; box-shadow: 1px 2px 20px 2px rgb(128, 128, 128); border-radius: 50% 20% / 10% 40%; background-image: url('/img/index.png'); background-size: contain;";></div></center>
@code {
    protected override async Task OnInitializedAsync()
    {
        await AppStateServiceCore.ChangeTitle("Page d'acceuil");
    }
}
