@page "/vim"
<h2>Bible de vim</h2>
<p>Finis la galère avec nano en ssh... je suis les précieux conseil de mon enseignant du temps ou j'étais sur les bons scolaires de l'informatique, j'utiliserai désomrais vi</p>
<p>Du coup je rempli cette page au fur et a mesure pour apprendre ces commandes avec le temps...</p>
<br />
<h2>Setup Debian/Ubuntu</h2>
<br />
<p class="code">apt-get remove vim-tiny</p>
<p class="code">apt-get update</p>
<p class="code">apt-get install vim</p>
<p class="code">apt-get install vim-python</p>
<p class="code">apt-get install vim-nox</p>
<br />
<h2>Test setup</h2>
<br />
<p class="code">vim --version</p>
<p class="code">:python3 import sys; print(sys.version)</p>
<br />
<h2>Setup plugins</h2>
<br />
<p class="code">git clone https://github.com/gmarik/Vundle.vim.git ~/.vim/bundle/Vundle.vim</p>
<p class="code">touch ~/.vimrc</p>
<p class="code">
    set nocompatible              " required
    filetype off                  " required

    " set the runtime path to include Vundle and initialize
    set rtp+=~/.vim/bundle/Vundle.vim
    call vundle#begin()

    " alternatively, pass a path where Vundle should install plugins
    "call vundle#begin('~/some/path/here')

    " let Vundle manage Vundle, required
    Plugin 'gmarik/Vundle.vim'

    " add all your plugins here (note older versions of Vundle
    " used Bundle instead of Plugin)

    " ...

    " All of your Plugins must be added before the following line
    call vundle#end()            " required
    filetype plugin indent on    " required
</p>
<p class="code">:PluginInstall</p>
<br />
<h2 class="commande-title">Vim</h2>
<h3>Commandes de base</h3>
<p>Vi fonctionne dans 3 modes différents, le mode commande, le mode insertion et le mode sélection</p>
<br />
<p>Insertion avant la ligne courante</p>
<p class="code">:i</p>
<p>Insertion après la ligne courante</p>
<p class="code">:i</p>
<p>Quitter insertion</p>
<p class="code">Esc</p>
<p></p>