@page "/vim"
<h2>Bible de vim</h2>
<p>Finis la galère avec nano en ssh... je suis les précieux conseil de mon enseignant du temps ou j'étais sur les bons scolaires de l'informatique, j'utiliserai désomrais vi</p>
<p>Du coup je rempli cette page au fur et a mesure pour apprendre ces commandes avec le temps...</p>
<p>Annuraire : 
<br />https://realpython.com/vim-and-python-a-match-made-in-heaven/
<br />http://www.linux-france.org/prj/support/outils/vi.html
</p>
<br />
@*
<h2>Setup Debian/Ubuntu</h2>
<br />
<p class="code">apt-get remove vim-tiny</p>
<p class="code">apt-get update</p>
<p class="code">apt-get install vim</p>
<p class="code">apt-get install vim-python</p>
<p class="code">apt-get install vim-nox</p>
<br />
<h2>Test setup</h2>
<br />
<p class="code">vim --version</p>
<p class="code">:python3 import sys; print(sys.version)</p>
<br />
<h2>Setup plugins</h2>
<br />
<p class="code">git clone https://github.com/gmarik/Vundle.vim.git ~/.vim/bundle/Vundle.vim</p>
<p class="code">touch ~/.vimrc</p>
<p class="code">set nocompatible              " required
<br/>filetype off                  " required
<br />
<br />" set the runtime path to include Vundle and initialize
<br />set rtp+=~/.vim/bundle/Vundle.vim
<br />call vundle#begin()
<br />
<br />" alternatively, pass a path where Vundle should install plugins
<br />"call vundle#begin('~/some/path/here')
<br/>
<br />" let Vundle manage Vundle, required
<br />Plugin 'gmarik/Vundle.vim'
<br />
<br />" add all your plugins here (note older versions of Vundle
<br />" used Bundle instead of Plugin)
<br />
<br />" ...
<br />
<br />" All of your Plugins must be added before the following line
<br />call vundle#end()            " required
<br />filetype plugin indent on    " required
</p>
<p class="code">:PluginInstall</p>
<br />*@
<h2 class="commande-title">Vim</h2>
<h3>Commandes de base</h3>
<p>Vi fonctionne dans 3 modes différents, le mode commande, le mode insertion et le mode sélection</p>
<br />
<p>Insertion avant la ligne courante</p>
<p class="code">:i</p>
<p>Insertion après la ligne courante</p>
<p class="code">:a</p>
<p>	Passe en mode insertion sur une nouvelle ligne sous la ligne courante</p>
<p class="code">:o</p>
<p>Quitter insertion</p>
<p class="code">Esc</p>
<p></p>
<p>Remplace le caractère</p>
<p class="code">r</p>
<h3>Split layout</h3>
<br />
<p>Vertical</p>
<p class="code">:sp filename</p>
<p>Horizontal</p>
<p class="code">:vs filename</p>
@*<p>Switch (setup) -> ~/.vimrc</p>
<p class="code">
    @foreach(var s in setupSplitLayout)
    {
        @s<br />
    }
</p>*@
<p>Ctrl+J move to the split below
<br />Ctrl+K move to the split above
<br />Ctrl+L move to the split to the right
<br />Ctrl+H move to the split to the left
</p>
<p>Code fold setup for key space (za = default)</p>
@*<p class="code">
    @foreach (var s in setupFold)
    {
        @s<br />
    }
</p>
<br />
<span>
The initial command, set foldmethod=indent, creates folds based upon line indents. This, however, often creates more folds than you really want. But have no fear! There are several extensions that attempt to rectify that. We recommend SimpylFold. Install it with Vundle by adding the following line to .vimrc:
<br />
<br />Plugin 'tmhedberg/SimpylFold'
<br />
<br />Note: Don’t forget to install the plugin - :PluginInstall.
<br />
<br />For docstring:
<p class="code">let g:SimpylFold_docstring_preview=1</p>

Nerd tree
Ctrl + N

</span>

@code {
    List<string> setupSplitLayout = new List<String>();
    List<string> setupFold = new List<String>();
    protected override void OnInitialized()
    {
        setupSplitLayout.Add("\"split navigations");
        setupSplitLayout.Add("nnoremap <C-J> <C-W><C-J>");
        setupSplitLayout.Add("nnoremap <C-K> <C-W><C-K>");
        setupSplitLayout.Add("nnoremap <C-L> <C-W><C-L>");
        setupSplitLayout.Add("nnoremap <C-H> <C-W><C-H>");

        setupFold.Add("\" Enable folding");
        setupFold.Add("set foldmethod=indent");
        setupFold.Add("set foldlevel=99");
        setupFold.Add("");
        setupFold.Add("\" Enable folding with the spacebar");
        setupFold.Add("nnoremap <space> za");
    }

}
*@