.svg-base {
    background-repeat: no-repeat;
    /*transform: rotate(180deg);*/
    /*transform: skewX(180deg);*/
    /*transform-origin: center center;*/
    /*transform: scale(-1, -1);*/
}
.svg-console {
    word-break: keep-all;
    white-space: pre-wrap;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}