@inherits LayoutComponentBase
@inject IMatToaster Toaster
@inject AppStateServiceCore AppStateServiceCore
@using Services.Core
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <MatThemeProvider Theme="@_theme">
        <MatAppBarContainer>
            <div class="mat-app-bar-title">
                <AppBar Title="@AppStateServiceCore.Title"></AppBar>
            </div>
            <MatAppBarContent>
                <div class="mat-app-bar-content-body">@Body</div>
            </MatAppBarContent>
            <MatToastContainer />
        </MatAppBarContainer>
    </MatThemeProvider>
</div>

@code {
    protected override void OnInitialized()
    {
        AppStateServiceCore.OnChange += OnTitleChange;
    }

    #pragma warning disable 1998
    private async Task OnTitleChange(string page)
    {
        AppStateServiceCore.Title = page;
        StateHasChanged();
    }
    #pragma warning restore 1998

    MatTheme _theme = new MatTheme()
    {
        Primary = MatThemeColors.Indigo._300.Value,
        Secondary = MatThemeColors.Blue._500.Value
    };
}