@inherits LayoutComponentBase
@inject IMatToaster Toaster
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <MatThemeProvider Theme="@_theme">
        <MatAppBarContainer>
            @Body
            <MatToastContainer />
        </MatAppBarContainer>
    </MatThemeProvider>
</div>

@code {
    MatTheme _theme = new MatTheme()
    {
        Primary = MatThemeColors.Indigo._300.Value,
        Secondary = MatThemeColors.Blue._500.Value
    };
}